<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>498601929423-gt31brl9m4r52c7qt0ki3l3jhvsa3dhe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.498601929423-gt31brl9m4r52c7qt0ki3l3jhvsa3dhe</string>
	<key>API_KEY</key>
	<string>AIzaSyCqO_Vh07IyAvjOIomDhmhYnTZbltuKSfc</string>
	<key>GCM_SENDER_ID</key>
	<string>498601929423</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mike.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-flutterproject-first</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-flutterproject-first.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:498601929423:ios:d5f4940297e8678db565ba</string>
</dict>
</plist>